<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　 <title>{{ page.title }}</title>
</head>
<body>
　　 {{ content }}
</body>
<script type="text/javascript">window.MathJax = false;</script>
  <script type="text/x-mathjax-config"> 
          MathJax.Hub.Config({ 
          tex2jax: {inlineMath: [["$","$"],["\,"\" />"</span><spanclass="crayon−sy">,</span><spanclass="crayon−s">" "]]}
              });
</script><script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>
</html>